footer{
    width: 95vw;
    margin-left: 2.5vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.5vh solid #e0e0e0;
    color: #e0e0e0;
}