@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1d24;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 0 12px 12px;
}
#logo{
    height: 8vh;
    width: auto;
    user-select: none;
    margin-left: 1vw;
}
#site-title{
    color: #e0e0e0;
    font-family: Poppins-Bold, sans-serif;
    margin-left: 0.5vw;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
    margin-right: 40vw;
    text-wrap: nowrap;
}
#site-title:hover{
    color: #c3c3c3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.header-item{
    color: #e0e0e0;
    font-family: Poppins, sans-serif;
    font-size: 1.3rem;
    transition: 0.2s ease-in-out;
    margin-right: 2vw;
}
.header-item:hover{
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-decoration: underline;
}