@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1d24;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 0 12px 12px;
}
#logo{
    height: 8vh;
    width: auto;
    user-select: none;
    margin-left: 1vw;
}
#site-title{
    color: #e0e0e0;
    font-family: Poppins-Bold, sans-serif;
    margin-left: 0.5vw;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
    margin-right: 35vw;
    text-wrap: nowrap;
}
#site-title:hover{
    color: #c3c3c3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.header-item{
    color: #e0e0e0;
    font-family: Poppins, sans-serif;
    font-size: 1.3rem;
    transition: 0.2s ease-in-out;
    margin-right: 2vw;
}
.header-item:nth-child(7){
    margin-right: 4vw;
}
.header-item:last-child{
    transform: scale(2.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-item:hover{
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-decoration: underline;
}
#sidebar{
    position: fixed;
    width: 30vw;
    height: 100vh;
    background-color: #2c3340;
    top: 0vh;
    right: -30vw;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    z-index: 2000;
    text-align: center;
    color: #e0e0e0;
}
#sidebar nav{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
#sidebar nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar nav h1{
    font-family: Poppins-Bold, sans-serif;
    margin-bottom: 2vh;
}
.sidebar-item{
    color: #e0e0e0;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    padding: 2vh 2vw;
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid #444;
    transition: 0.2s ease-in-out;
}
.barra{
    width: 100%;
    height: 0.5vh;
    background-color: #e0e0e0;
}
.sidebar-item:hover{
    background-color: #3b4452;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#protecao{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500;  
}
.protecaoAtiva{
    display: block !important;
}
.ativo{
    right: 0 !important;
}