main{
    color: #e0e0e0;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    padding: 1vh 3vw 1vh 3vw;
}
.content{
    height: 25vh;
    width: auto;
    float: left;
    margin-right: 0.5vw;
}
p{
    text-align: justify;
}
h3{
    color: aqua;
}