.message{
    position: fixed;
    top: 80vh;
    right: 2vw;
    width: 20vw;
    padding: 2vh 1vw;
    height: 12vh;
    background-color: #e0e0e0;
    color: #ff6b6b;
    font-family: Poppins, sans-serif;
    font-size: 0.9rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.message p{
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
    margin-top: 1vh;
}