main{
    width: 95vw;
    margin-left: 2.5vw;
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}
table{
    margin-top: 2vh;
    width: 95vw;
    height: auto;
    border-collapse: collapse;
}
th, td{
    padding: 1vh 1vw;
    text-align: center;
    border: 2px solid #444;
}
.btn{
    width: 10vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
    background-color: #9adff4;
    color: #1a1d24;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    transform: scale(1.05);
    background-color: #c0f0ff;
    box-shadow: 0 4px 10px rgba(154, 223, 244, 0.2);
}